@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --primary-color: #b4acaf;
    --background-color: #222838;
    --accent-color: #705b98;
    --text-color: #9891a3;
    --hover-color: #f7f7f7;
  }
  
  body {
    margin: 0;
    font-family: 'Lato', sans-serif;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 1rem;
  }

  .logo{
    margin-left: 25px;
  }
  
  .logo img {
    max-width: 50px; 
  }
  
  nav {
    display: flex;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    margin-right: 25px
  }
  
  .nav-links li {
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: var(--text-color);
  }
  
  .burger {
    cursor: pointer;
    display: none;
    margin-right: 30px
  }
  
  .line1, .line2, .line3 {
    width: 25px;
    height: 3px;
    background-color: var(--text-color);
    margin: 5px 0;
  }

  .container_card{
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./assets/img/bck.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: var(--hover-color);
    width: 85%;
    max-width: 900px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 2px 10px 26px -3px rgba(0,0,0,0.75);
    margin-top: 25px;
    padding: 0;
  }

  .card_img{
    display: flex;
    height: 100%;
    width: 30%;
    background-color: var(--accent-color);
  }

  .card_text{
    display: flex;
    flex-direction: column;
    width: 52%;
  }

  .card_text h1{
    font-size: 52px;
    padding: 0;
    margin-bottom: 15px;
  }

  .card_text span{
    font-weight: bold;
  }

  .card_text h4{
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
  }

  .card_text P{
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
  }

  .info{
    background-color: var(--accent-color);
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    width: 95%;
    height: 100%;
    color: #f7f7f7;
  }

  .info_img{
    height: 90%;
    width: 40%;
    background-color:var(--hover-color);
    border-radius: 10px;
    box-shadow: 2px 10px 26px -3px rgba(0,0,0,0.75);
  }

  .info_img img{
    width: 100%;
    height: 100%;
  }

  .info_txt{
    display: flex;
    flex-direction: column;
    width: 55%;
  }

  .info_txt h1{
    font-size: 52px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .info_txt h4{
    font-size: 14px;
    margin: 0;
    margin-top: 10px;
  }

  .info_txt p{
    font-size: 12px;
    margin: 0;
    margin-bottom: 10px;
  }

  .info_txt p , h1 , h4{
    margin: 0;
  }

  .life{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .info_npc{
    background-color: var(--hover-color);
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container_info_npc{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    max-width: 900px;
    width: 95%;
    height: 100%;
  }


  .info_txt_npc{
    display: flex;
    flex-direction: column;
    width: 55%;
  }


  @media screen and (max-width: 900px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: var(--hover-color);
        width: 95%;
        max-width: 900px;
        height: 100%;
        border-radius: 10px;
        box-shadow: 2px 10px 26px -3px rgba(0,0,0,0.75);
        margin-top: 25px;
        padding: 0;
      }

      .card_img{
        display: flex;
        height: 550px;
        width: 100%;
        border-radius: 10px;
        background-color: var(--accent-color);
      }

      .card_img img{
        height: 100%;
      }

      .card_text{
        display: flex;
        flex-direction: column;
        width: 90%;
      }

      .info{
        background-color: var(--accent-color);
        margin-top: 65px;
        height: 700px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

      .container_info {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
        max-width: 900px;
        height: 600px;
        color: #f7f7f7;
    }
    
    .info_img {
        height: 80%;
        width: 90%;
        background-color: var(--hover-color);
        border-radius: 10px;
        box-shadow: 2px 10px 26px -3px rgba(0, 0, 0, 0.75);
        overflow: hidden; 
    }
    
    .info_img img {
        width: 100%;
        height: 100%;
        object-fit: cover; 
         object-position: 0px -80px; 
        border-top-right-radius: 10px; 
        border-top-left-radius: 10px;
    }
    
      .info_txt{
        display: flex;
        flex-direction: column;
        width: 85%;
      }
  }
  
  @media screen and (max-width: 768px) {
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .nav-links {
      flex-direction: column;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 40px;
      left: -35px;
      background-color: var(--background-color);
      text-align: center;
      display: none;
      margin: 0;
    }
  
    .nav-links.show {
      display: flex;
    }
  
    .nav-links li {
    width: 100%;
    margin: 10px 0;
    }
  
    .burger {
      display: block;
    }
  }
  